#parse("header.html")
<link rel="stylesheet" media="all" href="../styles/letter.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                <li id="conversation-item-10001_622873">
                <a class="letter-link" href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                </a>
                <div class="letter-info">
                <span class="l-time">06-23 11:07</span>
                <div class="l-operate-bar">
                <a href="javascript:void(0);" class="sns-action-del" data-id="10001_622873">
                删除
                </a>
                <a href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                共46条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <span class="msg-num">
                41
                </span>
                <a class="list-head">
                <img alt="头像" src="http://static.nowcoder.com/images/head/like.png">
                </a>
                </div>
                <div class="letter-detail">
                <a title="赞" class="letter-name level-color-1">
                赞
                </a>
                <p class="letter-brief">
                <a href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                你的回答"C,D  ..." 收到来自用户一根小天线 的赞，获得的成就值+3，哎呦不错哦~
                </a>
                </p>
                </div>
                </li>
                <li id="conversation-item-10004_622873">
                <a class="letter-link" href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                </a>
                <div class="letter-info">
                <span class="l-time">2015-12-13</span>
                <div class="l-operate-bar">
                <a href="javascript:void(0);" class="sns-action-del" data-id="10004_622873">
                删除
                </a>
                <a href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                共1条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <span class="msg-num">
                1
                </span>
                <a class="list-head">
                <img alt="头像" src="http://static.nowcoder.com/images/head/recommend.png">
                </a>
                </div>
                <div class="letter-detail">
                <a title="回答采纳" class="letter-name level-color-1">
                回答采纳
                </a>
                <p class="letter-brief">
                <a href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                亲爱的zmnk，你在"下述有关b..." 一题中留下的答案已被牛客采纳，做为系统推荐答案啦~~获得的成就值+10。PS. 牛客上还有好多未解之题等着你这样的聪明人儿来征服，能者多劳，再多贡献点智慧吧~
                </a>
                </p>
                </div>
                </li>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                </ul>

        </div>
    </div>
#parse("footer.html")